<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome, <%= @user.username %>!</h1>
    <p>We hope you enjoy this site as much as we do. YAY CATS!</p>
    <p>Follow this link to log in: <%= @url %> </p>
    <br>
    <p>p.s. dogs are cool too.</p>
  </body>
</html>
